body {
    font-family: sans-serif;
    margin: 0 auto;
    width: 1000px;
}

h1 {
    font-size: 1.75em;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

dt {
    font-size: 1.125em;
    font-weight: bold;
    margin-top: 1em;
    text-decoration: underline;
    text-transform: uppercase;
}

dt:first-child {
    margin-top: 0;
}

dd {
    padding-left: 0;
    margin-left: 0;
}

span.gluten-free {
    color: goldenrod;
    display: inline-block;
    border-radius: 50%;
    font-size: .375em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    
    /* Keep these em values the same */
    /* Line height calc is half of the border width (matters at small sizes) */
    border: 2px solid goldenrod;
    height: 1.625em;
    line-height: calc(1.625em + 1px);
    width: 1.625em;
}


dt span {
    margin-left: 1em;
    margin-bottom: .5em;
}

.banner.banner--success {
    background: green;
}

.banner.banner--warning {
    background: yellow;
	color: black;
	border-bottom: 1px solid orangered;
}

.banner.banner--alert {
    background: red;
}

.banner {
    color: white;
    font-weight: bold;
    left: 0;
    line-height: 2em;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    vertical-align: middle;
    width: 100%;
}

.banner + h1 {
    margin-top: 2em;
}

#content {
	display: flex;
}