#supply-chain-list__container {
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.supply-chain-ingredient {
	border: 2px solid black;
	border-radius: 10px;
	font-style: italic;
	font-weight: bold;
	height: 100px;
	margin-bottom: 20px;
	padding: 5px;
	width: 27.5%;
}